@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-poppins;
}

#root{
  overflow-x: hidden;
}

/* Modal Styles */
.modal-content {
    background-color: #2b2b2b;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
  }
  
  .modal-overlay {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  